﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - UpDotNetWeb</title>
    <link rel="stylesheet" href="~/lib/bulma/dist/css/bulma.min.css"/>
    <link rel="stylesheet" href="~/lib/forkawesome/dist/css/fork-awesome.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div id="navbar" class="navbar-menu is-active">
                <div class="navbar-start">
                    <a class="navbar-item" asp-controller="Account" asp-action="Index">Accounts</a>
                    <a class="navbar-item" asp-controller="Transaction" asp-action="Index">Transactions</a>
                    <a class="navbar-item" href="#">Notifications</a>
                    <a class="navbar-item" href="#">Settings</a>
                </div>
                
                <div class="navbar-end">
                    <div class="navbar-item">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Page" asp-action="UserSettings" class="navbar-item">@User.Identity.Name</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    @RenderBody()
</div>
</body>
</html>