﻿@model UpDotNetWeb.Models.ViewModel.AccountListViewModel
@using Humanizer

@{
    ViewData["Title"] = "Accounts";
}

<span class="is-size-2">Accounts</span>

@if (Model.Accounts.Data.Count == 0)
{
    <article class="message is-danger">
        <div class="message-body">
            You have no accounts apparently
        </div>
    </article>
}

<table class="table is-bordered">
    <thead>
    <tr>
        <th>Display Name</th>
        <th>Account Type</th>
        <th>Balance</th>
        <th>Created</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var account in Model.Accounts.Data)
    {
        <tr>
            <td><a asp-controller="Transaction" asp-action="Index" asp-route-accountId="@account.Id">@account.Attributes.DisplayName</a></td>
            <td>@account.Attributes.AccountType</td>
            <td>@account.Attributes.Balance.CurrencyCode $@account.Attributes.Balance.Value</td>
            <td title="@account.Attributes.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss zz")">@account.Attributes.CreatedAt.Humanize()</td>
        </tr>
    }
    </tbody>
</table>