﻿@model UpDotNetWeb.Models.ViewModel.IndexViewModel

@{
    ViewData["Title"] = "Home";
}

<span class="is-size-2">Welcome</span>
@if (string.IsNullOrEmpty(Model.User.UpApiKey))
{
    <p>You need to configure your Up API key to use this application.</p>
    <p>Retrieve your key from <a href="https://api.up.com.au/getting_started">here</a></p>
    <p>Configure your new key <a asp-controller="Page" asp-action="UserSettings">here</a></p>
}
else
{
    <p>Happily it looks like you're configured and ready to go!</p>
    <p>If your key has been revoked and you need to update it, go <a asp-controller="Page" asp-action="UserSettings">here</a></p>
}