@model UpDotNetWeb.Models.ViewModel.UserSettingsViewModel

@{
    ViewData["Title"] = "User Settings";
}

<span class="is-size-2">User Settings</span>

@if (Model.TokenChecked)
{
    @if (Model.CheckResult)
    {
        <article class="message is-success">
            <div class="message-body">
                @Model.Message The API token appears to be working and has been saved successfully!
            </div>
        </article>
    }
    else
    {
        <article class="message is-danger">
            <div class="message-body">
                An error occurred when checking the API token: @Model.Message
            </div>
        </article>
    }
}

<form asp-controller="Page" asp-action="UserSettings" method="POST">
    <div class="field has-addons">
        <div class="control">
            <input class="input" type="text" placeholder="Up API Key" required name="upApiKey" value="@Model.User.UpApiKey"/>
        </div>
        <div class="control">
            <button class="button is-info" type="submit">
                Save Token
            </button>
        </div>
    </div>
</form>