@model UpDotNetWeb.Models.ViewModel.TransactionListViewModel
@using Humanizer

@{
    ViewData["Title"] = "Transactions";
}

<span class="is-size-2">Transactions</span>

<div class="buttons has-addons">
    @if (Model.Transactions.Links.Prev != null)
    {
        <a class="button is-info" asp-controller="Transaction" asp-action="Page" asp-route-pageUrl="@Model.Transactions.Links.Prev"><i class="fa fa-arrow-left"></i></a>
    }
    <button class="button">@Model.Transactions.Data.Count rows</button>
    @if (Model.Transactions.Links.Next != null)
    {
        <a class="button is-info" asp-controller="Transaction" asp-action="Page" asp-route-pageUrl="@Model.Transactions.Links.Next"><i class="fa fa-arrow-right"></i></a>
    }
</div>

@if (Model.Transactions.Data.Count == 0)
{
    <article class="message is-danger">
        <div class="message-body">
            You have no transactions apparently
        </div>
    </article>
}

<table class="table is-bordered">
    <thead>
    <tr>
        <th>Created</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var transaction in Model.Transactions.Data)
    {
        <tr>
            <td title="@transaction.Attributes.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss zz")">@transaction.Attributes.CreatedAt.Humanize()</td>
            <td title="@transaction.Attributes.RawText">@transaction.Attributes.Description</td>
            <td>@transaction.Attributes.Amount.CurrencyCode $@transaction.Attributes.Amount.Value</td>
            <td title="@transaction.Attributes.SettledAt?.ToString("yyyy-MM-dd HH:mm:ss zz")">@transaction.Attributes.Status</td>
        </tr>
    }
    </tbody>
</table>